@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* FONTS */

@font-face {
  font-family: 'miFuente';
  src: url(../font/Outfit-Black.otf);
  font-weight: 700;
}

@font-face {
  font-family: 'miFuente';
  src: url(../font/Outfit-Regular.otf);
  font-weight: 400;
}

/* SETUP */

body {
  font-family: "Inter", sans-serif;
  margin: 40px;
  background-color: #bdbdbd;
  color: #2e2e2e;
  text-align: center;
}

header, main, nav, footer {
  padding: 10px;
  width: 100%;
}

h1, h2, h3, h4 {
  font-family: miFuente;
}

h5 {
  font-family: miFuente;
  font-weight: 400;
}

h1 {
  font-size: 70px;
  font-weight: 850;
}

/* ANCLAS INTERNAS + BOTON MAIL TO*/

.nav-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 70px;
  row-gap: 30px; 
  width: 100%;     
  margin-top: 40px;
  margin-bottom: 40px;
}

.boton-nav {
  text-decoration: none;
  width: 100px;
  color: #000000;
  padding: 5px 20px;
  border: 2px solid rgba(94, 24, 175, 0.934);
  border-radius: 8px;
  transition: all 0.5s ease;
  font-weight: 500;
}

.boton-nav:hover {
  background-color: rgba(94, 24, 175, 0.934);
  color: #ffffff;
  scale: 1.1;
  cursor: pointer;
}

/* SOBRE MI*/

.sobremi{
  width: 60%;         
  max-width: 500px;     
  margin: auto;
  text-align: center; 
  margin-bottom: 70px;
}

/* SERVICIOS */

.servicios {
  display: flex;
  gap: 20px;
}

.servicio {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  background-color: rgb(151, 151, 151);
  padding: 10px;
  display: flex;
  flex-direction:column;
  transition: all 0.5s linear;
  word-wrap: break-word;
}

.servicio:hover {
  box-shadow: 0 0 10px rgba(94, 24, 175, 0.934);
}

#servicios h4 {
  font-size: 18px;
  margin-bottom: 5px; 
}

/* VERONICA CAMBLOR + ANIMACION */

.nombre {
  margin-bottom: 0;
  animation: nombre 5s;
  animation-fill-mode: both;
}

.apellido {
  margin-top: -2vw;
  animation: apellido 5s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  margin-bottom: 20px;
}

@keyframes nombre {
  from {
    transform: translate(-8vw, 30px);
    opacity: 0;
  }
  to {
    transform: translate(-8vw, 0px);
    opacity: 1;
  }
}

@keyframes apellido {
  from {
    transform: translate(8vw, 30px);
    opacity: 0;
  }
  to {
    transform: translate(8vw, 0px);
    opacity: 1;
  }
}

/* SOBRE MI + ANIMACION */

.hola {
  animation: hola 3s;
  animation-fill-mode: both; 
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes hola {
from {
    color: #000000;
  }
  to {
    color: rgb(94, 24, 175);
  }
}

/* PROYECTOS */

section, #portfolio div { 
  width: 100%;
}

#portfolio div {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}

section { 
  margin-bottom: 50px; 
  margin-top: 100px;
}

img { 
  width: 100%;
}

#portfolio div img {
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(90, 90, 90, 0.2); 
  transition: all 0.5s linear;
}

#portfolio div img:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgb(70, 70, 70);
}

#portfolio h4 {
  font-size: 18px;
  margin-bottom: 40px;
}

/* LINKS EXTERNOS */

.links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 75px;
  row-gap: 30px; 
  width: 100%;     
  margin-top: 20px;
  margin-bottom: 0px;
}

.links a {
  text-decoration: none;
  width: 100px;
  color: #e4e4e4;
  padding: 5px 20px;
  border: 2px solid rgba(94, 24, 175, 0.934);
  border-radius: 8px;
  transition: all 0.3s ease;
  font-weight: 500;
  background-color: rgba(94, 24, 175, 0.934);;
}

/* CONTACTO */

#contacto {
  margin-top: 60px;
}

/* FOOTER */

footer { 
  background-color: 
  #9a9a9a; 
  color: white;
}

@media (max-width: 768px){
  header, main, footer, nav { padding: 5px;}
  div { width: 70%; }
  h1 { font-size: 10vw;}
}